<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.huynn109.otp_consent">
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" android:host="*" />
        </intent>
    </queries>
    ></manifest>
